<configuration>
  <packageSources>
    <clear/>
	<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  <add key="MS-NuGet" value="https://ms-nuget.cloudapp.net/api/v2/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
</configuration>
